$brown1 : #150900;
$brown2 : #1e0700;
$brown3 : #4a382e;
$abuabu1 : #f1f1f1;
$abuabu2 : #32333b;
$abuabu3 : #26262d;
$abuabu4 : #40434e;
$abuabu5 : #949494;
$abuabutext1 : #d5d5d5;
$abuabutext2 : #b8b8b8;
$abuabutext3 : #838383;
$abuabutext4 : #7d7d7d;
$creamtext1 : #bc760d;