
@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.eot');
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Avenir-Medium.woff') format('woff'),
         url('../fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/Avenir-Roman.eot');
    src: url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Avenir-Roman.woff') format('woff'),
         url('../fonts/Avenir-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bello-script';
    src: url('../fonts/bello-script.eot');
    src: url('../fonts/bello-script.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bello-script.woff') format('woff'),
         url('../fonts/bello-script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// / open sans light /
@font-face {
  font-family: 'open-sans.light';
  src: url('../fonts/open-sans/open-sans.light.eot');
  src: url('../fonts/open-sans/open-sans.light.eot') format('embedded-opentype'), 
    url('../fonts/open-sans/open-sans.light.woff2') format('woff2'), 
    url('../fonts/open-sans/open-sans.light.woff') format('woff'), 
    url('../fonts/open-sans/open-sans.light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// / open sans regular /
@font-face {
  font-family: 'open-sans.regular';
  src: url('../fonts/open-sans/open-sans.regular.eot');
  src: url('../fonts/open-sans/open-sans.regular.eot') format('embedded-opentype'), 
    url('../fonts/open-sans/open-sans.regular.woff2') format('woff2'), 
    url('../fonts/open-sans/open-sans.regular.woff') format('woff'), 
    url('../fonts/open-sans/open-sans.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// / open sans semibold /
@font-face {
  font-family: 'open-sans.semibold';
  src: url('../fonts/open-sans/open-sans.semibold.eot');
  src: url('../fonts/open-sans/open-sans.semibold.eot') format('embedded-opentype'), 
    url('../fonts/open-sans/open-sans.semibold.woff2') format('woff2'), 
    url('../fonts/open-sans/open-sans.semibold.woff') format('woff'), 
    url('../fonts/open-sans/open-sans.semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// / open sans bold /
@font-face {
  font-family: 'open-sans.bold';
  src: url('../fonts/open-sans/open-sans.bold.eot');
  src: url('../fonts/open-sans/open-sans.bold.eot') format('embedded-opentype'), 
    url('../fonts/open-sans/open-sans.bold.woff2') format('woff2'), 
    url('../fonts/open-sans/open-sans.bold.woff') format('woff'), 
    url('../fonts/open-sans/open-sans.bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// / open sans extrabold /
@font-face {
  font-family: 'open-sans.extrabold';
  src: url('../fonts/open-sans/open-sans.extrabold.eot');
  src: url('../fonts/open-sans/open-sans.extrabold.eot') format('embedded-opentype'), 
    url('../fonts/open-sans/open-sans.extrabold.woff2') format('woff2'), 
    url('../fonts/open-sans/open-sans.extrabold.woff') format('woff'), 
    url('../fonts/open-sans/open-sans.extrabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}